.landing {
  background-color: #fff;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: rgb(48, 62, 72);

  &__title {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 36px;
  }

}