.exchange-icon {
  &__container {
    display: flex;
    align-items: center;
  }

  &__label {
    margin: 0 8px;
  }

  display: flex;
  justify-content: center;
  align-items: center;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  box-shadow: 0 7px 16px 0 rgba(63, 79, 90, 0.36);
}