<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <style>
        @import url('https://fonts.googleapis.com/css?family=Montserrat');
    </style>
</head>
<body style="margin: 0;">
<table style="width: 98%; margin: 0 auto;" cellpadding="0" cellspacing="0" border="0">
    <tr>
        <td align="center">
            <table style="width: 100%; max-width: 600px;" cellpadding="0" cellspacing="0">
                <tr> 
                    <td><a href="https://zichange.eu"><img style="width: 100%; height: auto; outline: 0; border: 0;" src="https://zichain.io/public/email3/zichange_main_header1.png"></a></td>
                </tr>
                <tr>
                    <td align="center" style="font-family: 'Montserrat','Open Sans', Helvetica, Arial, sans-serif;">
                        <p style="color: #444444;width:85%;font-size:27px;margin-bottom:0px;font-weight: bold;line-height: 50px;" >Account activation</p>
                    </td>
                </tr>
                <tr>
                    <td height="20"></td>
                </tr>
                <tr>
                    <td align="center">
                        <table style="width: 80%;" cellpadding="0" cellspacing="0">
                            <tr>
                                <td align="center" style="font-family: 'Open Sans', Helvetica, Arial, sans-serif;font-style:light;">
                                    <p style="font-size:18px;text-align:center;width:91%;color: #444444;line-height: 27px;">
                                        Dear Sir / Madam
                                    </p>
                                    <p style="font-size:18px;text-align:center;width:97%;color: #444444;line-height: 27px;">
                                        Thank you for registering
                                    </p>
                                    <p style="font-size:18px;text-align:center;width:97%;color: #444444 !important;line-height: 27px;">
                                        Please follow the link to activate your account
                                         <a href=input.link target="_blank" style="color:#57b8a3;text-decoration: underline;">${input.shortLink}</a>
                                    </p>
                                </td>
                            </tr>
                            <tr>
                                <td height="40"></td>
                            </tr>
                            <tr> 
                                <td height="43" valign="middle" align="center" style="font-family: 'Open Sans', Helvetica, Arial, sans-serif;">
                                    <table cellpadding="0" cellspacing="0">
                                        <tr align="center">
                                            <td width="78"><a href="https://t.me/Zichain_News" target="_blank"><img height="30" width="30" style="outline: 0; border: 0;" src="https://zichain.io/public/email3/telegram.png"></a></td>
                                            <td width="78" ><a href="https://t.me/Zichain_EN" target="_blank"><img height="30" width="30" style="outline: 0; border: 0;" src="https://zichain.io/public/email3/telegram.png"></a></td>
                                            <td width="78"><a href="https://mobile.twitter.com/Zichain1/" target="_blank"><img height="30" width="30" style="outline: 0; border: 0;" src="https://zichain.io/public/email3/twitter.png"></a></td>
                                            <td width="78"><a href="https://m.facebook.com/zichainecosystem/" target="_blank"><img height="30" width="30" style="outline: 0; border: 0;" src="https://zichain.io/public/email3/facebook.png"></a></td>
                                        </tr>
                                        <tr align="center">
                                                <td width="120"><a href="https://t.me/Zichain_News" style="color:#898989;text-decoration: none;" target="_blank"><span>Telegram</span><br><span>(channel)</span></a></td>
                                                <td width="120"><a href="https://t.me/Zichain_EN" style="color:#898989;text-decoration: none;" target="_blank"><span>Telegram</span><br><span>(chat)</span></a></td>
                                                <td width="120"><a href="https://mobile.twitter.com/Zichain1/" style="color:#898989;text-decoration: none;" target="_blank"><span>Twitter</span><br><span style="opacity:0;">(channel)</span></a></td>
                                                <td width="120"><a href="https://m.facebook.com/zichainecosystem/" style="color:#898989;text-decoration: none;" target="_blank"><span>Facebook</span><br><span style="opacity:0;">&#8203;</span></a></td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td height="20"></td>
                            </tr>
                            <tr>
                                <td align="center" style="font-family: 'Asket','Open Sans', Helvetica, Arial, sans-serif;">
                                <p style="color:#41A189;font-size:30px;margin-bottom:0px;font-weight: bold;line-height: 60px;">Take care,<br />
                                ZiChange Team</p>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td>
                        <img alt="Zichain Logo" src="https://zichain.io/public/email3/down_bg.png" style="width: 100%;max-width:600px; height: auto; outline: 0; border: 0;" />
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
</body>
</html>