<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>
<body>
    Please follow the link to change your email
    <a href=input.link target="_blank" style="color:#57b8a3;text-decoration: underline;">${input.link}</a>
</body>
</html>